{% extends "admin/base_site.html" %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
    <h1><b>Import Changes from CSV</b></h1>
    Upload a CSV file to update the IT Systems Register.<br>
    <a href="{% url 'admin:itsystems_itsystemrecord_export' %}"> Click here to download the required CSV format.</a> <br><br>
    <form action="{% url 'admin:itsystems_itsystemrecord_import' %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
        {% csrf_token %}
        <div class="form-group">
            <div>
                <label for="csv_file">Select a CSV:</label>
                <br>
                <input type="file" name="csv_file" id="csv_file" accept=".csv" required="True" class="form-control">
            </div>                   
            <div>
                {% if message %}
                    <br>
                    <p style="color:Tomato">{{message}}</p>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="form-group">                   
            <div>
                <button> <span></span>Import</button>
            </div>
        </div>
    </form>
{% endblock %} 